
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #0e1525;
}

.nav-item a{
    color: #192a56;
}
a{
    text-decoration: none;
}
section{
    padding: 50px 0;
}
.main-btn{
    display: inline-block;
    border-radius: 50px;
    transition: all .4s ease-in-out;
    padding: 10px 27px;
    background-color: transparent;
    border: 2px solid gray;
    color: gray;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
}
.main-btn:hover{
    background-color: #eb4d4b;
    border-color: #eb4d4b;
    color: #fff;
}
h1{
    font-size: 54px;
    line-height: 68px;
    font-weight: 800;
    color: #fff;
    margin-bottom: 20px;
}
h1 span{
    color: #eb4d4b;
}
h2{
    font-size: 50px;
    line-height: 1.3;
    font-weight: 600;
    color: #fff;
    margin-bottom: 15px;  
}
h3{
    font-size: 20px;
    line-height: 1.3;
    font-weight: 600;
    color: #fff;
    margin-bottom: 19px;  
}
h6{
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 4px;
    display: block;
    line-height: 1.3;
    font-weight: 600;
    color: #fff;
    margin-bottom: 20px;  
}
p{
    color: gray;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 1px;
    font-weight: 400;
}
.subtitle{
    display: inline-block;
    font-weight:bold ;
    letter-spacing: 0.5px;
    line-height: 18px;
    font-size: 16px;
    margin-bottom: 12px;
    background: linear-gradient(-224deg, #eb4d4b 0, #337DFF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.input:hover,
.input:focus,
.text-area:focus,
.text-area:hover,
button{
    outline: none !important;
    box-shadow: none !important;
}
/* Navbar */
.header-wrapper .navbar{
    padding: 15px 0;
    -webkit-transition:all 2s linear;
    -o-transition:all 2s linear;
    -moz-transition:all 2s linear;
}
.header-wrapper .navbar-brand img{
    max-width: 120px;
    height: auto;
}
.header-wrapper .navbar-toggler{
    border: 0;
    color: gray;
    line-height: 2;
}
.header-wrapper .navbar-toggler:focus{
    box-shadow: none;
}
.header-wrapper .nav-item{
    margin: 0 10px;
}
.header-wrapper .nav-item .nav-link{
    position: relative;
    font-size: 16px;
    font-weight: 500;
    color: gray;
    display: inline-block;
}
.header-wrapper .nav-item .nav-link:after{
    position: absolute;
    content: '';
    left: 0;
    width: 0;
    height: 2px;
    background: #eb4d4b;
    transition: 0.3s;
    bottom: 0;
}
.header-wrapper .nav-item .nav-link.active:after,
.header-wrapper .nav-item .nav-link:hover::after{
    width: 100%;
}
.header-wrapper .nav-item .nav-link.active,
.header-wrapper .nav-item .nav-link:hover{
    color:#fff ;
}
.header-scrolled{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #152238;
    -webkit-box-shadow:0 4px 6px 0 rgba(12, 0, 46, 0.5);
    box-shadow:0 4px 6px 0 rgba(12, 0, 46, 0.5);
    
}
.header-scrolled .nav-item .nav-link.active,
.header-scrolled .nav-item .nav-link:hover{
    color: #eb4d4b;
}
/* Banner */
.banner-wrapper{
    width: 100%;
    height: auto;
    min-height: 600px;
    background-image: url('images/bg-image.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    padding: 200px 0 100px 0;
   
}
/* About */
.about-wrapper ul.nav-pills{
    border: 1px solid gray;
    border-radius: 50px;
}
.about-wrapper ul li .nav-link{
    border-radius: 50px;
    font-size: 15px;
    font-weight: 500;
    transition: all 0.45s cubic-bezier(0,0,0.2,1);
    display: inline-block;
    color: gray;
    border: 0;
    
}
.about-wrapper ul li .nav-link:active{
    background-color:#eb4d4b;
}
.about-wrapper .single-progress{
    margin-top: 26px;
    position: relative;
    overflow: hidden;
}
.about-wrapper .single-progress .progress{
    height: 4px;
    border-radius: 4px;
    box-shadow: none;
    background-color: #fff;
    overflow: visible;
}
.about-wrapper .single-progress .progress-bar{
    background:linear-gradient(-224deg, #eb4d4b 0, #337DFF 100%) ;
}
.about-wrapper .single-progress h6{
    text-align: left;
}
.about-wrapper .single-progress .label{
    position: absolute;
    right: 0;
    top: 0;
    color: gray;
    font-size: 15px;
}
.about-wrapper .tab-pane li{
    color: gray;
    font-size: 16px;
    margin-bottom: 15px;
    font-weight: 300;
    list-style: none;
}
.about-wrapper .tab-pane li a{
    color: gray;
    font-weight: 500;
    display: block;
}
/* Services */
.services-wrapper .card{
    background-color: #152238 ;
    cursor: pointer;
    transition: transform 0.65s cubic-bezier(0.05, 0.2, 0.1, 1);
    box-shadow: 0.65s cubic-bezier(0.05, 0.2, 0.1, 1) ;
}
.services-wrapper .card:hover{
    box-shadow: 0px 2px 70px rgb(253 71 102/5%);
    transform: translateY(-5px);
}
/* Portfolio */
.portfolio-wrapper .card{
    height: 100%;
    min-height: 350px;
    overflow: hidden;
    border: 1px solid #FFF;
    cursor: pointer;
    box-shadow: 0 0 16px 4px #152238 ;
}
.portfolio-wrapper .card span{
    transition:background-position 4s ease-in-out 0s;
    width: 100%;
    height: 100%;
    background-position: top center;
    background-size: cover;
}
.portfolio-wrapper .card:hover span{
    background-position: bottom center;
}
/* contact */
.contact-wrapper .form-control, 
.contact-wrapper textarea{
    background-color: transparent;
    border: 1px solid gainsboro;
    color: gainsboro;
    font-size: 15px;
    font-weight: 400;
    padding: 10px 20px;
}
.contact-wrapper .form-control:hover, 
.contact-wrapper textarea:hover,
.contact-wrapper .form-control:focus, 
.contact-wrapper textarea:focus{
    border-color: #eb4d4b;
    color: #fff;
}
.contact-wrapper .call-details{
    color: gray;
}
.contact-wrapper .call-details a{
    color: gray;
    font-weight: 700;
}
/* Footer */
.footer-wrapper{
    background-color: #152238;
}
.footer-wrapper .footer-logo img{
    width: 100%;
}
.footer-logo{
    width: 100px;
}
.footer-wrapper .social-icon a{
    width: 35px;
    height: 35px;
    font-size: 14px;
    display: inline-block;
    border: 2px solid gray;
    color: gray;
    text-align: center;
    border-radius: 100%;
    -webkit-transition: all 0.3s cubic-bezier(0.645,0.045, 0.355,1); ;
    transition: all 0.3s cubic-bezier(0.645,0.045, 0.355,1);
}
.footer-wrapper .social-icon a:hover{
    background-color: #eb4d4b;
    border-color: #eb4d4b;
    color: #fff;
    box-shadow: 0 10px 15px rgb(0 0 0/10%);
    transform: translateY(-3px);
}
.footer-wrapper .copyright-text p{
    font-size: 11px;
}
.footer-wrapper .copyright-text a{
    color: #eb4d4b;
}
